.selected_txt_banned .ivu-select-selected-value {
    color: #ed4014 !important;
}

.selected_txt_active .ivu-select-selected-value {
    color: #19be6b !important;
}


._active{
    color: #19be6b !important;
}

._banned{
    color: #ed4014 !important;
}
